<div style="width: 100px; height: 100px; background: red;" id="div"></div>

<script>
$(function() {
  $('div').animate({ top: '-=100px' }, 600, 'easeInOutExpo', function () {
    alert('Done')
  })
})
</script>
